@import url(http://fonts.googleapis.com/css?family=Crafty+Girls|Raleway:400,700,900|Montserrat|Chewy|Comfortaa);

body {
    font-family: Comfortaa;
}

#logo {
    margin-top:120px;
}

.logintxt {
    font-size: 50pt;
    color:#7aacff;
}

#voting {
  text-align:center;
}

.guidehdr{
    font-size: 30pt;
    font-weight: bold;
    color:#4274ff;
}

.helptxt {
    font-size: 18pt;
    color:#b7bcbe;
}

#loginform {
    margin-top:70px;
}
