@import url(http://fonts.googleapis.com/css?family=Crafty+Girls|Raleway:400,700,900|Montserrat|Chewy|Comfortaa);

body {
    font-family: Comfortaa;
    background-color:#f7ffef;
}

.info_text {
    font-size: 18pt;
    color:#0d3349;
}
.chooser {
    font-size: 18pt;
}

.score {
    font-size: 15pt;
    color:#fff5ff;
}

.countrySelector {
    height:50px;
    font-size: 21pt;
}
